# Python Basics: Assignment_1

## 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
 * "*" 
 * 'hello'
 * -87.8
 * "-" 
 * / 
 * "+"	
 * 6

In [1]:
a = 10                #assigning integer value "10" to variable "a"
b = 20                #assigning interger value "20" to variable "b"

# All the operators in Python is represented in purple colour.

product = a * b       #expression for multiplication
substraction = a - b  #expression for substraction
division = a/b        #expression for dividion
addition = a + b      #expression for addition
print (product, substraction, division, addition)

200 -10 0.5 30

In [2]:
type("hello")

str

In [3]:
type(-87.8)

float

In [4]:
type(6)

int

Solution 1:
 * " * "  is an operator for multiplication: **Expression**
 * 'hello' is a string data:                 **Value**
 * -87.8 is a floating data:                 **Value**
 * " - " is an operator for substraction:   **Expression**
 * " / " is an operator for division:       **Expression**
 * " + "	is an operator for addition:     **Expression**
 * 6 is an integer data:                     **Value**

## 2. What is the difference between string and variable?
Solution 2: 

* **String**: A String is a type of information you would store in a variable. A String is usually words, enclosed with " " or ' '. In the context of data science, features in dataset like full name of a customer, and reviews for products are of string datatype.
  * For Example:

In [5]:
type("This is a string")

str

In [6]:
type('This is a string')

str

* **Variable**: Variable is the name of the space/location we assign with the help of assignment operator "=". It stores different type of data like integer, string, float, boolean, complex number temporary in RAM/main memory.
   * For Example: a,b,c,d,and e are variables.

In [7]:
a = 10
b = "ten"
c = 10.10
d = True
e = 10+10j

In [8]:
type(a)

int

In [9]:
type(b)

str

In [10]:
type(c)

float

In [11]:
type(d)

bool

In [12]:
type(e)

complex

 ### **Difference between string and variable is string can not store data, it is a datatype in its own, while variable can store different types of data including string.**

## 3. Describe three different data types.

**Integer**: Integer is one of the numeric datatype. This value is represented by "int" class. It contains positive or negative whole numbers (without fraction or decimal). In Python there is no limit to how long an integer value can be. In context of data science, features like number of members, number od bank accounts, number of products are of integer datatype.

In [13]:
a= 10 
type(a)

int

**Float**: Floating point number is another numeric datatype in Python This value is represented by "float" class. It is a real number with floating point representation. It is specified by a decimal point. In the context of data science, features like salary, trasaction time, sales of a product,  are of float datatype.

In [14]:
b = 10.23
type(b)

float

**String**: In Python, Strings are arrays of bytes representing Unicode characters. A string is a collection of one or more characters put in a single quote, double-quote or triple quote. In python there is no character data type, a character is a string of length one. It is represented by str class.In the context of data science, features in dataset like full name of a customer, and reviews for products are of string datatype.

In [15]:
c = "This a string datatype"
type(c)

str

## 4. What is an expression made up of? What do all expressions do?

#### An expression is made up of a combination of operators and operands.
* **What are Operators?:**
    * Airthmatic Operators:
       * Addition,Substraction,Multiplication, Division, Modulus, Power.
    * Comparison Operators:
       * Greater than, less than, equal to, greater than equal to, less than equal to
    * Logical Operators: 
       * Logical operators perform Logical AND, Logical OR, and Logical NOT operations. It is used to combine conditional statements.
    * Bitwise Operators:
       * Bitwise operators act on bits and perform the bit-by-bit operations. These are used to operate on binary numbers.
    * Assignment Operators:
       * Assignment operators are used to assigning values to the variables.
* **What are Operands?:**
    * The operand is the object that is being worked on by an operation. A basic example of an operand would be a variable declared in a program that would change value because of operations.
    
#### Expressions are used to evaluate the values or represent the result on the screen.

In [17]:
# Examples of Arithmetic Operator
a = int(input("enter any integer value for a: "))
b = int(input("enter any integer value for b: "))
 
# Addition of numbers
add = a + b
 
# Subtraction of numbers
sub = a - b
 
# Multiplication of number
mul = a * b
 
# Division(float) of number
div1 = a / b
 
# Division(floor) of number
div2 = a // b
 
# Modulo of both number
mod = a % b
 
# Power
p = a ** b
 
# print results
print(add)
print(sub)
print(mul)
print(div1)
print(div2)
print(mod)
print(p)

enter any integer value for a: 3
enter any integer value for b: 3
6
0
9
1.0
1
0
27

In [18]:
# Examples of Relational Operators
a = int(input("enter any integer value for a: "))
b = int(input("enter any integer value for b: "))
 
# greater than
print(a > b)
 
# less than
print(a < b)
 
# equal equal to
print(a == b)
 
# not equal to
print(a != b)
 
# greater than equal to
print(a >= b)
 
# less than equal to
print(a <= b)

enter any integer value for a: 5
enter any integer value for b: 8
False
True
False
True
False
True

In [19]:
# Examples of Logical Operator
a = True
b = False
 
# Print a and b is False
print(a and b)
 
# Print a or b is True
print(a or b)
 
# Print not a is False
print(not a)

False
True
False

In [20]:
# Examples of Bitwise operators
a = int(input("enter any integer value for a: "))
b = int(input("enter any integer value for b: "))


# Print bitwise AND operation
print(a & b)
 
# Print bitwise OR operation
print(a | b)
 
# Print bitwise NOT operation
print(~a)
 
# print bitwise XOR operation
print(a ^ b)
 
# print bitwise right shift operation
print(a >> 2)
 
# print bitwise left shift operation
print(a << 2)

enter any integer value for a: 8
enter any integer value for b: 6
0
14
-9
14
2
32

## 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?
 * An **expression** usually refers to a piece of code that can be evaluated to a value, and is composed of variables, operators, function calls, and literals while a **statement** refers to a piece of code that executes a specific instruction or perform action or tells the computer to complete a task.
 * In most programming languages, common examples of **expressions** are method calls and mathematical operations and a **statement** can take the form of assignments, control statements, import statements, loop statements, jump statements, or method calls.
 * The evaluation of an **expression** does not changes state but the execution of a **statement** changes state.
 * Evaluation of an **expression** always produces or returns a result value however execution of a **statement** may or may not produces or displays a result value, it only does whatever the statement says.
 * Every **expression** canâ€™t be a statement however every **statement** can be an expression.

In [21]:
spam = 10    # it is an assignment statement
spam           # created a variable "spam" and displayed it's value.

10

In [22]:
spam ** 2    #this is a expression. It will evaluate and delivers a value as output

100

## 6. After running the following code, what does the variable bacon contain?
- bacon = 22
- bacon + 1

In [23]:
bacon = 22   # assigning the value 22 to variable "bacon"
bacon + 1    # expression which adds 1 to the value stored in the variable "bacon" and displays the output after evaluationg the expression

23

In [24]:
bacon      # calling the value stored in bacon

22

Variable "bacon" contain 22 because these is a operation performed on "bacon" but there is no assignment to the output value of the expression.

## 7. What should the values of the following two terms be?
* 'spam' + 'spamspam'
* 'spam' * 3

In [25]:
'spam' + 'spamspam'

'spamspamspam'

Concatenation of the strings with the addition operator.

In [26]:
'spam' * 3

'spamspamspam'

Concatenation of the string using multiplication operator.
* Results are same for both the expressions.

## 8. Why is "eggs" a valid variable name while "100" is invalid?

* Rules for Python variables:
   * A variable name must start with a letter or the underscore character
   * **A variable name cannot start with a number**
   * A variable name can only contain **alpha-numeric characters and underscores (A-z, 0-9, and _ ).**
   * Variable names are case-sensitive (age, Age and AGE are three different variables)
   
   
* "eggs" is a valid variable name because it starts with a letter, it contains alphabets.
* "100" is a invalid variable name because it starts witha number, it is not an alpha-numeric character.
     * valid examples can be _100, a100, a_100.

In [27]:
eggs = 100
eggs

100

In [28]:
100 = "bread"

SyntaxError: cannot assign to literal (Temp/ipykernel_14508/4294703856.py, line 1)

In [29]:
_100 = "bread"
a100 = "jam"
a_100 = "breakfast" 
_100, a100 , a_100

('bread', 'jam', 'breakfast')

## 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

int(), float() and str()  are the three functions used to get the integer, floating-point number, or string version of a value repectively.

## 10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

In [36]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

TypeError: can only concatenate str (not "int") to str


* ERROR : This shows concateation is only possible in string datatype. Here, 99 is not a string value. It is a integer value.
* FIX: To fix this typecast or strong type the integer value to string value by using quotes or by using str() function.

In [37]:
'I have eaten ' + "99" + ' burritos.'

'I have eaten 99 burritos.'

In [38]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'

In [39]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'